
<h1> You attacked <%= @player_2 %> </h1>

<body>
  <p> <%= @player_2 %>'s health has been reduced to <%= @player_2_health %>HP </p>
</body>

<form action="/play">
  <input type="submit" value="Switch">
</form>
