
<h1> You attacked <%= @opponent_name%> </h1>

<body>
  <p> <%= @opponent_name %>'s health has been reduced to <%= @opponent_health %>HP </p>
</body>

<form action="/play">
  <input type="submit" value="Switch">
</form>
